<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% seo %}
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include head-custom.html %}
  </head>
  <body>
    <div id="header">
      <nav>
        <ul>
          <li class="fork">
            <a href="https://github.com/adsbypasser/adsbypasser"
              >View On GitHub</a
            >
          </li>
          <li class="downloads">
            <a
              href="https://github.com/adsbypasser/adsbypasser/issues"
              rel="external"
              >Report Bug</a
            >
          </li>
          <li class="downloads">
            <a href="{{ '/configure.html' | relative_url }}">Configure</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- end header -->

    <div class="wrapper">
      <section>
        <div id="title">
          <h1>{{ site.title }}</h1>
          <p>{{ site.description }}</p>
          <hr />
          <span class="credits left"
            >Project maintained by
            <a href="https://github.com/adsbypasser">adsbypasser</a></span
          >
          <span class="credits right"
            >Hosted on GitHub Pages &mdash; Theme by
            <a href="https://twitter.com/mattgraham">mattgraham</a></span
          >
        </div>

        <!-- Installation links -->
        <div id="install">
          <table>
            <thead>
              <tr>
                <td></td>
                <th scope="col">
                  Full
                  <span class="hint">
                    <span class="help" tabindex="0" aria-describedby="tip-full"
                      >?</span
                    >
                    <span class="tip" role="tooltip" id="tip-full"
                      >All supported sites, including image-hosting sites.</span
                    >
                  </span>
                </th>
                <th scope="col">
                  Lite
                  <span class="hint end">
                    <span class="help" tabindex="0" aria-describedby="tip-lite"
                      >?</span
                    >
                    <span class="tip" role="tooltip" id="tip-lite"
                      >Same as Full, but without image-hosting sites. Choose
                      this if you use another userscript for image-hosting
                      sites.</span
                    >
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="release">
                <th scope="row">
                  Release
                  <span class="hint start">
                    <span
                      class="help"
                      tabindex="0"
                      aria-describedby="tip-release"
                      >?</span
                    >
                    <span class="tip" role="tooltip" id="tip-release"
                      >Stable channel, recommended for most users. Updated when
                      a new version is published.</span
                    >
                  </span>
                </th>
                <td>
                  <a
                    class="button"
                    href="{{ '/releases/' | append: site.data.urls.full | relative_url }}"
                    aria-label="Install Full release"
                    >Install</a
                  >
                </td>
                <td>
                  <a
                    class="button"
                    href="{{ '/releases/' | append: site.data.urls.lite | relative_url }}"
                    aria-label="Install Lite release"
                    >Install</a
                  >
                </td>
              </tr>
              <tr class="nightly">
                <th scope="row">
                  Nightly
                  <span class="hint start">
                    <span
                      class="help"
                      tabindex="0"
                      aria-describedby="tip-nightly"
                      >?</span
                    >
                    <span class="tip" role="tooltip" id="tip-nightly"
                      >Beta channel, built from every commit to master. May
                      break things, see Nightly Builds below.</span
                    >
                  </span>
                </th>
                <td>
                  <a
                    class="button"
                    href="{{ '/nightly/' | append: site.data.urls.full | relative_url }}"
                    aria-label="Install Full nightly"
                    >Install</a
                  >
                </td>
                <td>
                  <a
                    class="button"
                    href="{{ '/nightly/' | append: site.data.urls.lite | relative_url }}"
                    aria-label="Install Lite nightly"
                    >Install</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        {{ content }}
      </section>
    </div>
  </body>
</html>
